@{
    ViewBag.Title = "AccessDeny";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="breadcrumbs" class="breadcrumbs">
    <script type="text/javascript">
        try { multi.settings.check('breadcrumbs', 'fixed') } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li><i class="multi-icon fa fa-home icon_house"></i></li>
        <li><a href="#">Home</a></li>
        <li><a href="#" title="">Access deny</a></li>
    </ul>
    <!-- /.breadcrumb -->
    <div id="nav-search" class="nav-search">
        <form class="form-search">
            <span class="input-icon">
                <input type="text" autocomplete="off" id="nav-search-input" class="nav-search-input" placeholder="Search ...">
                <i class="multi-icon fa icon_search nav-search-icon"></i>
            </span>
        </form>
    </div>
    <!-- /.nav-search -->
</div>

<div class="page-content">
    <div class="page-header">
        <h1>
            Access deny
            <!--<small> <i class="multi-icon fa arrow_triangle-right"></i> bootstrap grid sizing </small>-->
        </h1>
    </div>
    <div class="alert alert-danger">
        <strong>
            <i class="multi-icon fa icon_error-oct"></i>
            Warning!
        </strong>
        You do not have enough permission!
        <br>
    </div>
    <div class="center mt60">
        <div class="row">
            <div class="col-xs-12">
                <div class="user-profile row">
                    
                </div>
             </div>
        </div>
    </div>
</div>


