<div class="footer-inner footer-inner_mul">
    <div class="footer-content">
        <span class="footer_left">© 2014 MultiOrg AS, Inc. All Rights Reserved.</span>
        <span class="footer_right">Alle rettigheter forbeholdes © <a href="http://www.cateno.no" title="cateno" target="_blank"> Cateno AS. </a></span>
    </div>
</div>
